{% extends "test.html" %}

{% block content %}
{%load static %}
<link rel='stylesheet' href='{% static "css/style.css" %}'>
<h1>This post is about to be created!
</h1>
<p>Gonna show a rough work below</p>
 <table><tr><th>id</th> <th> firstname</th> <th> lastname </th>	<th>phone</th> <th>joined_date</th></tr>
 <tr><td>1 </td><td> Emil</td> 	<td> Refsnes</td>  <td> 551234 </td>	<td>2022-01-05</td> </tr>
 <tr><td>2</td> <td> Tobias</td> <td>Refsnes</td> <td>5557777</td><td>2022-04-01</td> </tr>
 <tr><td>3</td> <td>Linus </td>	<td>Refsnes</td> <td>5554321 </td>	 <td>2021-12-24 </td></tr>
 <tr><td>4</td> <td> Lene</td> <td>Refsnes</td>  <td>551234</td>	 <td>2021-05-01</td> </tr>
 <tr><td>5</td>	<td>Stalikken</td><td>Refsnes </td><td>5559876</td><td>2022-09-29 </td></tr>
</table>


{% for x in info%}
<div class= 'post'>
   Title:<b>{{x.title}}</b>, Views:<b>{{x.views}}</b>, Date:<b>{{x.date|time:'H:i'}}</b>
</div>

<p>{{x.content}}</p>
<a href="{% url 'read' x.id %}">
<button class='read'>
Read more
</button></a>
{%endfor%}


<div class='uefa'>Title:<b>{{uefa.title}}</b>, Views:<b>{{uefa.views}}</b>, Date:<b>{{uefa.date|time:'H:i'}}</b><br><br>


      <div class="story">

            <img src='{% static "img/player.jpg"%}' alt='mbappe image'>
      </div>
       
      <div>
             <h3>Bellingham shines as Mbappe enjoys dream debut!</h3><br>
            <p>{{uefa.content}}</p>
      </div>
</div>


<div class='pic'>Title:<b>{{pic.title}}</b>, Views:<b>{{pic.views}}</b>, Date:<b>{{pic.date|time:'H:i'}}</b><br><br>

    <div class='story'>
    
      <img src='{% static "img/escape.jpg"%}' alt='escape of the seven image'>
    </div>
      <h3>Plot Analysis</h3>
      {{pic.content}}

</div>


{% endblock  %}
