.profile-container{
    max-width: 550px;
    padding: 20px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.profile-container h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;

}

.profile-container form{
    display: flex;
    flex-direction: column;
}

.profile-container label{
    font-weight: bold;
    margin-bottom: 15px;
    color: #555;
}
.profile-container input[type='text'],
.profile-container input[type='email'],
.profile-container input[type='password'] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
}

.profile-container button[type='submit']{
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #4CAf50;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.profile-container button[type='submit']:hover{
    background-color: #45a059;

}
@media(max-width: 550px){
.profile-container{
    padding: 15px;
}
}
.profile-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 auto 15px auto;
    display: block;
    object-fit: cover;
    border: 2px solid #ccc;
}